html {
  height: 100%;
  bottom: 0%;
  background-color: grey;
  border-style: solid;
  border-color: black;
  border-width: 0px;
}

footer {
  position: absolute;
  bottom: 0;
}

h1 {
  font-size: 40px;
  width: 100%;
  background-color: black;
  color: red;
  font-family: "Times New Roman";
  text-align: center;
  border-bottom-style: solid;
	border-bottom-color: black;
}

h2 {
  color: white;
  text-decoration-style: 1px;
  text-decoration-color: black;
  text-align: center;
}

h3 {
  font-size: 21px;
  color: white;
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#wrapper {
  height: 200px;
}

#smallbox1 {
  background-color: #333;
  display: block;
  margin-left: 30.5%;
  margin-top: 6%;
  width: 40%;
  height: 200%;
  text-align: center;
  padding-top: 2px;
  padding-right: 2px;
}

.navbarlogo1 {
  margin-bottom: 2px;
}

#topnav {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: red;
  background-color: #111;
}

li a:active {
  color: red;
  background-color: #111;
}

#footer {
  margin-top: 34%;
}
