/*provides general style for whole site*/
html {
  height: 100%;
  bottom: 0%;
  background-color: grey;
  border-style: solid;
  border-color: black;
  border-width: 0px;
}
/*provides style for bottom of page*/
footer {
  position: absolute;
  bottom: 0;
}

#footer {
  margin-top: 34%;
}

/*provides style to all text assigned as h1*/
h1 {
  font-size: 40px;
  width: 100%;
  background-color: black;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom-style: solid;
	border-bottom-color: black;
}

/*provides style to all text assigned as h2*/
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration-style: 1px;
  text-decoration-color: black;
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
/*provides style to all text assigned as h3*/
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: white;
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


/*gives style to the list_games page*/
#games {
  padding-top: 5%;
  padding-bottom: 5%;
  float: center;
  border-width: 5px;
  text-decoration: none;
  text-align: center;
  margin-right: 70%;
  margin-left: 25%;
}

#games a{
  text-decoration: none;
  border-style: solid
  color: black;
}

#games a:hover {
  text-decoration: underline;
}

#wrapper {
  height: 200px;
}
/*provides style for each display box around the site, from home page to
list_games page to contact page*/
#smallbox1 {
  background-color: #333;
  display: block;
  margin: auto;
  margin-top: 6%;
  width: 40%;
  text-align: center;
  padding: 20px;
}

#smallbox2 {
  background-color: #333;
  display: block;
  margin: auto;
  margin-top: 6%;
  width: 40%;
  text-align: center;
  padding: 20px;
}

#smallbox3 {
  background-color: #333;
  display: block;
  margin: auto;
  margin-top: 6%;
  width: 35%;
}

#smallbox4 {
  background-color: #333;
  display: block;
  margin: auto;
  margin-top: 6%;
  width: 35%;
  padding: 20px;
}

#showgames {
  background-color: #333;
  display: block;
  margin-left: 30.5%;
  margin-top: 6%;
  margin-bottom: 6%;
  width: 40%;
  text-align: center;
  padding-top: 2px;
  padding-right: 2px;
  color: white;
}

#developer {
  float: center;
  border-width: 5px;
  text-decoration: none;
  text-align: center;
  margin-right: 70%;
  margin-left: 25%;
}

/*changes image to have some space above it wherever it is used */
#image {
  margin-top: 3%;
}

.content {
  margin-top: 10%;
  padding-bottom: 0.1%;
  font-size: 25px;
}

#companytext {
  color: white;
  text-decoration-style: 1px;
  text-decoration-color: black;
  text-decoration: underline;
  text-align: left;
  font-size: 25px;
}

#categorytext {
  color: white;
  text-decoration-style: 1px;
  text-decoration-color: black;
  text-decoration: underline;
  text-align: left;
  font-size: 25px;
}

#categorynametext {
  font-size: 40px;
}

#consoletext {
  color: white;
  text-decoration-style: 1px;
  text-decoration-color: black;
  text-decoration: underline;
  text-align: left;
  font-size: 25px;
}

#consoleparatext {
  padding-bottom: 0.1%;
  font-size: 25px;
}

.socialmedia {
  margin-top: 10%;
}

#topnav {
  width: 100%;
}

/*following provides style for navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li a:active {
  background-color: #111;
}
