/*provides general style for whole site*/
html {
	height: 100%;
	bottom: 0;
	background-color: grey;
	border-style: solid;
	border-color: #000;
	border-width: 0
}

/*provides style for bottom of page*/
footer {
	position: absolute;
	bottom: 0
}

#footer {
	margin-top: 34%
}

/*provides style to all text assigned as h1*/
h1 {
	font-size: 40px;
	width: 100%;
	background-color: #000;
	color: red;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: #000
}

/*provides style to all text assigned as h2*/
h2 {
	font-family: 'Titillium Web', sans-serif;
	color: #fff;
	text-decoration-style: 1px;
	text-decoration-color: #000;
	text-align: center;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000
}

/*provides style to all text assigned as h3*/
h3 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 28px;
	color: #fff;
	text-align: center;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000
}

/*gives style to the list_games page*/
#list {
	padding-top: 5%;
	padding-bottom: 5%;
	float: center;
	border-width: 5px;
	text-decoration: none;
	text-align: center;
	margin-right: 70%;
	margin-left: 25%;
}

/*gives style for games when it is selected and hovered over*/
#list a {
	text-decoration: none;
	border-style: solid color: #000
}

#list a:hover {
	text-decoration: underline
}

#wrapper {
	height: 200px
}

/*provides style for each display box around the site, from home page to
list_games page to contact page*/
#smallbox {
	background-color: #333;
	display: block;
	margin: auto;
	margin-top: 6%;
	width: 40%;
	text-align: center;
	padding: 20px
}


#showcontent {
	background-color: #333;
	display: block;
	margin-left: 30.5%;
	margin-top: 6%;
	margin-bottom: 6%;
	width: 40%;
	text-align: center;
	padding-top: 2px;
	padding-right: 2px;
	color: #fff
}

#search{
	width: 1000%;
	height: 1000%;
}

#showimg {
	width: 259px;
	height: 194px;
}

/*changes image to have some space above it wherever it is used */
#image {
	margin-top: 3%
}

.content {
	margin-top: 10%;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: .1%;
	font-size: 25px
}

/* following provides style for text boxes on different pages */
#text {
	color: #fff;
	text-decoration-style: 1px;
	text-decoration-color: #000;
	text-decoration: underline;
	text-align: left;
	font-size: 25px
}

#consoleparatext {
	padding-bottom: .1%;
	font-size: 25px
}

.socialmedia {
	margin-top: 10%
}

#topnav {
	width: 100%
}

#searchWrapper {
	text-align: center;
	float: center;
	padding-top: 2%
}

/* sets color for links on site*/
#link a {
	color: red;
	padding-bottom: 3%;
}

#link a:visited {
	color: red;
	padding-bottom: 3%;
}

/*following provides style for navbar*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333
}

li {
	float: left
}

li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none
}

li a:hover {
	background-color: #111
}

li a:active {
	background-color: #111
}
