{% extends 'layout.html' %}

{% block content %}

<title>Top Retro Games Developers</title>

<h2>View the developers that created the Retro Games listed on this site: </h2>
<div id= "smallbox4">
<div id="developer">
{% for developers in results %}
   <!––adds each image onto page by using its value in the database––>
   <a href="/developers/{{developers[1]}}" style="color: white">
   <img src={{developers[3]}} alt="{{developers[1]}} Picture"
   style="width:250px;height:150px;">{{developers[1]}}
   </a>
{% endfor %}
</div>
</div>

{% endblock %}
