{%extends "layout.html"%}

{%block content%}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> Welcome to Retro Games! </title>
  <h2>Official Website of Retro Games!</h2>
  <div id="smallbox1">
  <h3>You can use the links above to navigate
      my page.
      The "Games" link will lead to the main part
      of my site; a showcase of some of the most
      popular retro games and details about them.
      The "Contact me" link will lead to a page holding
      details as to what to do if you want to bring something
      up regarding this page such as a suggestion or comment.</h3>

    		<img src="/static/images/logo.png" alt="Retro Games Logo" width="200"
    				 height="190">

  </div>

{%endblock%}
