{% extends 'layout.html' %}

{% block content %}

<title>Top Retro Games</title>

<h2>View our personally hand picked selection of only the best Retro Games
    below:</h2>
<div id= "smallbox3">
<div id="games">
{% for games in results %}
   <!––adds each image onto page by using its value in the database––>
   <a href="/games/{{games[1]}}" style="color: white">{{games[1]}}
   <img src={{games[3]}} alt="{{games[1]}} Picture"
   style="width:259px;height:194px;"
   </a>
{% endfor %}
</div>
</div>

{% endblock %}
