{%extends "layout.html"%}

{%block content%}

<strong><h3>{{results[0]}}</h3></strong>
<div id="showgames">
    <div id="image">
    <!––provides images for each item/game using the database––>
    <img src='{{results[2]}}' alt="{{results[1]}} Picture"
    style="width:259px;height:194px;">
    </div>
<!––the following allows each part of the display to use the database to get
    its data by referencing its position in the database––>
    <div class="content">
    <p>{{results[0]}} is {{results[1]}}</p>

    <div id="companytext">
    <h2>Made by: </h2>
    </div>
    <p>{{developer[0]}}</p>

    <div id="categorytext">
    <h2>Category: </h2>
    </div>
    <p>{{category[0]}}: a {{category[1]}}</p>
    </div>

    <div id="consoletext">
    <h2>Console: </h2>
    </div>

    <div id="consoleparatext">
    <p>{{results[0]}} was first released on the {{console[0]}}</p>
    </div>

</div>

{%endblock%}
